$blue: #007db8;
$other-blue: #0076ce;
$green: #6ea204;
$yellow: #f2af00;
$red: #ce1126;
$light-blue: #cce5f1;
$light-blue2: #6bacde;
$medium-blue: #16609e;
$dark-blue: #00447c;
$teal: #42aeaf;
$chartreus: #c1d82f;
$orange: #ee6411;
$coral: #d74324;
$berry: #b7295a;
$purple: #6e2585;
$white: #ffffff;
$light-gray: #f4f4f4;
$light-gray2: #eeeeee;
$light-gray3: #e4e4e4;
$light-gray4: #dddddd;
$light-gray5: #fcfcfc;
$light-gray6: #f7f7f7c3;
$light-gray7: #b7b7b7;
$medium-gray: #cccccc;
$medium-gray2: #bbbbbb;
$medium-gray3: #aaaaaa;
$medium-gray4: #888888;
$medium-gray5: #808080;
$medium-gray6: #777777;
$dark-gray: #666666;
$dark-gray2: #555555;
$dark-gray3: #444444;
$dark-gray4: #333333;
$black: #000000;
$blue-power-store: #66afe9;
$blue-opacity-half: #007db899;
$input-border-radius: 6px;
$border-color-gray: #d3d3d3;
$red-power-store: #ce8483;
$dark-red-power-store: #843534;
$light-gray-7: #c0c0c0;
$light-gray-8: #f3f2f1;
$light-gray-9: #ececec;
$light-gray-10: #f9f9f9;
$light-gray-11: #e2e2e2;
$dark-gray-5: #999999;
$medium-blue-2: #428bca;
$shadow: #00000029;
$button-hover-color: #0174ab;
